<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basic">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Rhetos/RhetosService.svc"
                binding="basicHttpBinding" bindingConfiguration="basic" contract="IServerApplication"
                name="basic" />
        </client>
    </system.serviceModel>
</configuration>